header{
  background-color:gray;
  
}
span{
    color:black;
    text-align:left;
}
h2{
    color:blue;
    font-style: inherit;
}
body{
    background-color:white;
}
h1{ 
    color:white;
    font-style: oblique;
    text-align: center;
}
div{
    background-color:darkgray;
}